# Import Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

# Loading and Preprocessing

In [9]:
df = pd.read_csv("C:/Users/AmalDev/OneDrive/Desktop/Electric_Vehicle_Population_Data.csv")

## Preprocessing

In [12]:
# Shape
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 247344
Columns: 17

In [14]:
# First few rows
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,1N4BZ0CP5G,King,Seattle,WA,98125.0,2016,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84.0,0.0,46.0,349455557,POINT (-122.30253 47.72656),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,KNDJX3AEXG,King,Renton,WA,98058.0,2016,KIA,SOUL,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,93.0,31950.0,11.0,210641315,POINT (-122.08747 47.4466),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
2,5YJ3E1EB2J,King,Seattle,WA,98115.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,43.0,171417494,POINT (-122.31676 47.68156),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
3,1C4RJXN64R,Kitsap,Bremerton,WA,98312.0,2024,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21.0,0.0,26.0,262542927,POINT (-122.65223 47.57192),PUGET SOUND ENERGY INC,5.303508e+10
4,5YJ3E1EB1J,Thurston,Olympia,WA,98512.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,35.0,110432815,POINT (-122.9131 47.01359),PUGET SOUND ENERGY INC,5.306701e+10

In [16]:
# Clean column names
df.columns = df.columns.str.strip()
print(df.columns.tolist())

['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year', 'Make', 'Model', 'Electric Vehicle Type', 'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range', 'Base MSRP', 'Legislative District', 'DOL Vehicle ID', 'Vehicle Location', 'Electric Utility', '2020 Census Tract']

In [18]:
# Info summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247344 entries, 0 to 247343
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         247344 non-null  object
 1   County                                             247340 non-null  object
 2   City                                               247340 non-null  object
 3   State                                              247344 non-null  object
 4   Postal Code                                        247340 non-null  float64
 5   Model Year                                         247344 non-null  int64
 6   Make                                               247344 non-null  object
 7   Model                                              247344 non-null  object
 8   Electric Vehicle Type                              247344 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  247344 non-null  object
 10  Electric Range                                     247324 non-null  float64
 11  Base MSRP                                          247324 non-null  float64
 12  Legislative District                               246791 non-null  float64
 13  DOL Vehicle ID                                     247344 non-null  int64
 14  Vehicle Location                                   247333 non-null  object
 15  Electric Utility                                   247340 non-null  object
 16  2020 Census Tract                                  247340 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 32.1+ MB

In [20]:
# Describe numeric stats
df.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,247340.000000,247344.000000,247324.000000,247324.000000,246791.000000,2.473440e+05,2.473400e+05
mean,98180.773999,2021.572450,44.645659,740.206308,29.039924,2.382157e+08,5.297516e+10
std,2496.155753,3.014246,82.945315,6971.140984,14.857603,6.709585e+07,1.606887e+09
min,1731.000000,2000.000000,0.000000,0.000000,1.000000,4.385000e+03,1.001020e+09
25%,98052.000000,2020.000000,0.000000,0.000000,18.000000,2.089133e+08,5.303301e+10
50%,98125.000000,2023.000000,0.000000,0.000000,33.000000,2.560989e+08,5.303303e+10
75%,98382.000000,2024.000000,37.000000,0.000000,42.000000,2.723745e+08,5.305307e+10
max,99577.000000,2026.000000,337.000000,845000.000000,49.000000,4.792548e+08,6.601095e+10

In [22]:
# Missing values
df.isnull().sum().sort_values(ascending=False)

Legislative District                                 553
Electric Range                                        20
Base MSRP                                             20
Vehicle Location                                      11
2020 Census Tract                                      4
City                                                   4
Electric Utility                                       4
Postal Code                                            4
County                                                 4
DOL Vehicle ID                                         0
VIN (1-10)                                             0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Model                                                  0
Make                                                   0
Model Year                                             0
State                                                  0
Electric Vehicle Type                                  0
dtype: int64

In [24]:
# Duplicates
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [26]:
# Check for repeated header rows
df = df[df['VIN (1-10)'] != 'VIN (1-10)']

In [28]:
# Reset index
df.reset_index(drop=True, inplace=True)

In [30]:
# Value counts for key columns
print(df['Electric Vehicle Type'].value_counts())
print(df['Make'].value_counts().head(5))

Electric Vehicle Type
Battery Electric Vehicle (BEV)            197146
Plug-in Hybrid Electric Vehicle (PHEV)     50198
Name: count, dtype: int64
Make
TESLA        105001
CHEVROLET     17840
NISSAN        15892
FORD          13270
KIA           11978
Name: count, dtype: int64

### Remove Duplicates

In [33]:
df.drop_duplicates(inplace=True)

### Handle Missing Values

In [37]:
# Convert numeric columns
df['Electric Range'] = pd.to_numeric(df['Electric Range'], errors='coerce')
df['Base MSRP'] = pd.to_numeric(df['Base MSRP'], errors='coerce')

# Fill missing numerics
df['Electric Range'].fillna(df['Electric Range'].median(), inplace=True)
df['Base MSRP'].fillna(df['Base MSRP'].median(), inplace=True)

# Fill remaining missing with "Unknown"
df.fillna("Unknown", inplace=True)

C:\Users\AmalDev\AppData\Local\Temp\ipykernel_6240\3723312565.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Electric Range'].fillna(df['Electric Range'].median(), inplace=True)
C:\Users\AmalDev\AppData\Local\Temp\ipykernel_6240\3723312565.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Base MSRP'].fillna(df['Base MSRP'].median(), inplace=True)
C:\Users\AmalDev\AppData\Local\Temp\ipykernel_6240\3723312565.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("Unknown", inplace=True)

### Fix Data Types

In [40]:
df['Model Year'] = df['Model Year'].astype(int)
df['Postal Code'] = df['Postal Code'].astype(str).str[:5]  # trim decimals

### Clean Text Columns

In [43]:
text_cols = ['Make', 'Model', 'City', 'County', 'Electric Vehicle Type', 'Electric Utility']
for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()

### Feature Engineering

In [46]:
from datetime import datetime
current_year = datetime.now().year

# Create new columns
df['Vehicle Age'] = current_year - df['Model Year']
df['Range Category'] = pd.cut(df['Electric Range'], bins=[0, 80, 200, 1000],
                              labels=['Short', 'Medium', 'Long'])
df['Is CAFV Eligible'] = df['Clean Alternative Fuel Vehicle (CAFV) Eligibility']\
                            .apply(lambda x: 1 if 'eligible' in str(x).lower() else 0)

### Drop Irrelevant Columns

In [49]:
df.drop(columns=[
    'VIN (1-10)', 'DOL Vehicle ID', 'Vehicle Location', '2020 Census Tract'
], errors='ignore', inplace=True)

### Encode Categorical Features

In [52]:
le = LabelEncoder()
categorical_cols = ['Make', 'Model', 'City', 'County', 'Electric Utility']

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

### Scale Numeric Features

In [55]:
scaler = StandardScaler()
df[['Electric Range', 'Base MSRP', 'Vehicle Age']] = scaler.fit_transform(
    df[['Electric Range', 'Base MSRP', 'Vehicle Age']]
)

### Define Features and Target

In [58]:
X = df.drop(columns=['Electric Vehicle Type'])  # Features
y = df['Electric Vehicle Type']                 # Target

### Train/Test Split

In [61]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)